:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: IranSans;
  src: url("/fonts/IRANSansXV.woff2");
  format: ("woff2");
  font-display: swap;
}
